
<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
body {
    background-color: none;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
</style>
</head>
<body>
<br>
	  <center>  <a href="/system" class="btn btn-primary">System</a>
        <a href="/menus" class="btn btn-primary">Menu</a>
        <a href="/inventory" class="btn btn-primary">Inventory</a>
        <a href="/log" class="btn btn-primary">Log</a></center>


      <br>
    <table style="width:100%">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>conobis_brand</th>
    <th>conobis_stroin</th>
    <th>category</th>
    <th>subcategory</th>
    <th>thc_level</th>
    <th>cbd_level</th>
    <th>cbn_level</th>
  </tr>


      {% for data in all_data %}

       <tr>
    <td> {{ data.id }} </td>
    <td> {{ data.name }} </td>
    <td></td>
    <td></td>
           {% for cat in data.category%}
           <td>{{ cat.name }}</td>
        {% endfor %}
           <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>



      {% endfor %}

      <!--
  <tr>
    <td>132561</td>
    <td>Maxie Battery</td>
    <td></td>
    <td>other</td>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>%</td>
    <td></td>
  </tr>
    <tr>
    <td>132562</td>
    <td>Zico Torch lighter</td>
    <td></td>
    <td>other</td>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>%</td>
    <td></td>
  </tr>
    <tr>
    <td>132563</td>
    <td>Scorch Torch lighter</td>
    <td></td>
    <td>other</td>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>%</td>
    <td></td>
  </tr>
    <tr>
    <td>132567</td>
    <td>Rokin Disposoble Concentrote Pen</td>
    <td></td>
    <td>Topicols</td>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>%</td>
    <td></td>
  </tr>
    </tr>
    <tr>
    <td>132570</td>
    <td>Elite CBD Patches</td>
    <td></td>
    <td>Topicols</td>
    <td></td>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>%</td>
  </tr>
     <tr>
    <td>132571</td>
    <td>Elite CBD Patches</td>
    <td></td>
    <td>Topicols</td>
    <td></td>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>%</td>
  </tr>
      <tr>
    <td>132572</td>
    <td>Coffee Scrub</td>
    <td></td>
    <td>Topicols</td>
    <td></td>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>%</td>
  </tr>
      <tr>
    <td>132576</td>
    <td>CBD Body Scrub</td>
    <td></td>
    <td>Topicols</td>
    <td></td>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>%</td>
  </tr>
    <tr>
    <td>132561</td>
    <td>Maxie Battery</td>
    <td></td>
    <td>other</td>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>%</td>
    <td></td>
  </tr>
    <tr>
    <td>132562</td>
    <td>Zico Torch lighter</td>
    <td></td>
    <td>other</td>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>%</td>
    <td></td>
  </tr>
    <tr>
    <td>132563</td>
    <td>Scorch Torch lighter</td>
    <td></td>
    <td>other</td>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>%</td>
    <td></td>
  </tr>
      <tr>
    <td>132579</td>
    <td>AMA CBD Infused Body Lotion</td>
    <td></td>
    <td>Topicols</td>
    <td></td>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>%</td>
  </tr>
      <tr>
    <td>132570</td>
    <td>Elite CBD Patches</td>
    <td></td>
    <td>Topicols</td>
    <td></td>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>%</td>
  </tr>
      <tr>
    <td>132570</td>
    <td>Elite CBD Patches</td>
    <td></td>
    <td>Topicols</td>
    <td></td>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>%</td>
  </tr>
      <tr>
    <td>132570</td>
    <td>Elite CBD Patches</td>
    <td></td>
    <td>Topicols</td>
    <td></td>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>%</td>
  </tr>
      <tr>
    <td>132570</td>
    <td>Elite CBD Patches</td>
    <td></td>
    <td>Topicols</td>
    <td></td>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>%</td>
  </tr>
      <tr>
    <td>132570</td>
    <td>Elite CBD Patches</td>
    <td></td>
    <td>Topicols</td>
    <td></td>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>%</td>
  </tr>
      <tr>
    <td>132570</td>
    <td>Elite CBD Patches</td>
    <td></td>
    <td>Topicols</td>
    <td></td>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>%</td>
  </tr>
      <tr>
    <td>132570</td>
    <td>Elite CBD Patches</td>
    <td></td>
    <td>Topicols</td>
    <td></td>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>%</td>
  </tr>
      <tr>
    <td>132570</td>
    <td>Elite CBD Patches</td>
    <td></td>
    <td>Topicols</td>
    <td></td>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>%</td>
  </tr>
      <tr>
    <td>132570</td>
    <td>Elite CBD Patches</td>
    <td></td>
    <td>Topicols</td>
    <td></td>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>%</td>
  </tr>
      <tr>
    <td>132570</td>
    <td>Elite CBD Patches</td>
    <td></td>
    <td>Topicols</td>
    <td></td>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>%</td>
  </tr>
      <tr>
    <td>132570</td>
    <td>Elite CBD Patches</td>
    <td></td>
    <td>Topicols</td>
    <td></td>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>%</td>
  </tr>
      <tr>
    <td>132570</td>
    <td>Elite CBD Patches</td>
    <td></td>
    <td>Topicols</td>
    <td></td>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>%</td>
  </tr>
    <tr>
    <td>132561</td>
    <td>Maxie Battery</td>
    <td></td>
    <td>other</td>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>%</td>
    <td></td>
  </tr>
    <tr>
    <td>132562</td>
    <td>Zico Torch lighter</td>
    <td></td>
    <td>other</td>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>%</td>
    <td></td>
  </tr>
    <tr>
    <td>132563</td>
    <td>Scorch Torch lighter</td>
    <td></td>
    <td>other</td>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>%</td>
    <td></td>
  </tr>
      <tr>
    <td>132570</td>
    <td>Elite CBD Patches</td>
    <td></td>
    <td>Topicols</td>
    <td></td>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>%</td>
  </tr>
        <tr>
    <td>132570</td>
    <td>Elite CBD Patches</td>

  </tr>
          <tr>
    <td>132575</td>
    <td> CBD Patches</td>
            <tr>
    <td>132670</td>
    <td>Elite  Patches</td>

  </tr>
          <tr>
    <td>132570</td>
    <td>Elite CBD Patches</td>

  </tr>
          <tr>
    <td>132575</td>
    <td> CBD Patches</td>
            <tr>
    <td>132670</td>
    <td>Elite  Patches</td>

  </tr>
          <tr>
    <td>132570</td>
    <td>Elite CBD Patches</td>

  </tr>
          <tr>
    <td>132575</td>
    <td> CBD Patches</td>
            <tr>
    <td>132670</td>
    <td>Elite  Patches</td>

  </tr>
          <tr>
    <td>132570</td>
    <td>Elite CBD Patches</td>

  </tr>
          <tr>
    <td>132575</td>
    <td> CBD Patches</td>
            <tr>
    <td>132670</td>
    <td>Elite  Patches</td>

  </tr>

  </tr>
-->
</table>
	</body>
<html>
