
<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
body {
    background-color: none;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

<style>
DIV.table
{
    display:table;
}
FORM.tr, DIV.tr
{
    display:table-row;
}
SPAN.td
{
    display:table-cell;
}
</style>
</style>
</head>
<body>


<br>
	  <center>  <a href="/system" class="btn btn-primary">System</a>
        <a href="/menus" class="btn btn-primary">Menu</a>
        <a href="/inventory" class="btn btn-primary">Inventory</a>
        <a href="/log" class="btn btn-primary">Log</a>
        <br><br><br>



        <div class="table">
        <form action = '/save' method = 'post'>

        <span class="td">THEME  <select name="theme">
        {% for data in themes %}
        <option value="{{ data }}"
        {% if data == cur_themes %}
               selected
        {% endif %}
        >{{ data }}</option>
        {% endfor %}
        </select>
        </span>
        <br><br>

        <span class="td">
            GOOGLE FONT
            <select name="gfont">
                {% for google_font in google_fonts %}
                <option value="{{ google_font }}"
                {% if google_font == cur_google_fonts %}
                    selected
                {% endif %}
            >{{ google_font }}</option>
                {% endfor %}
            </select>
        </span>
            <br><br>

        <span class="td">FONT SIZE  <input type="text" name="fsize" size="10" value="{{ font_size }}" required=""></span><br><br>

        <span class="td">FONT COLOR <input type="text" name="fcolor" size="10" value="{{ font_color }}" required=""></span><br><br>

	    <span class="td">SCROLL RATE <input type="text" name="scrollrate" size="10" value="{{ scroll_rate }}" required=""></span><br><br>

	    <span class="td">UPDATE MENU <select name="upmenu">
	    {% for data in update_menu %}
            <option value="{{ data }}"

            {% if data == cur_update_menu %}
               selected
            {% endif %}

            >{{ data }}</option>
            {% endfor %}
            </select>
            </span>
            <br><br>


    </table>
    <br>
    <p>CATEGORIES TO DISPLAY</p>
    <input type="submit" value="Save">
  </form>
</CENTER>
	</body>
<html>
