
<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}"/>
<style>
#login
{
margin-top:10%;
margin-right:20%;
margin-left:20%;
box-shadow:0 0 18px #ccc;
}

body {
    background-color: none;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

<style>
DIV.table
{
    display:table;
}
FORM.tr, DIV.tr
{
    display:table-row;
}
SPAN.td
{
    display:table-cell;
}
</style>
</head>
<body>
<body>
    <br>
	  <center>  <a href="/system" class="btn btn-primary">System</a>
        <a href="/menus" class="btn btn-primary">Menu</a>
        <a href="/inventory" class="btn btn-primary">Inventory</a>
        <a href="/log" class="btn btn-primary">Log</a>
        <br><br><br>

<div id="login" class="span3 well-large offset4">
    <p style="color: green;"><br><br> Menus is saved successfully...<br></p><br><br>
</div>
</body>
</html>
