
<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
body {
    background-color: none;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 17px;
}
</style>
</head>
<body>
<br>
	  <center>  <a href="/system" class="btn btn-primary">System</a>
        <a href="/menus" class="btn btn-primary">Menu</a>
        <a href="/inventory" class="btn btn-primary">Inventory</a>
        <a href="/log" class="btn btn-primary">Log</a></center>
<br><br>

<CENTER>
      <p>UPTIME {{ time }}</p>
       <p>LAST SERVER CONTACT 365:11:15:30</p><br>
        <form action ='/system_update', method = 'post'>
        <P>API KEY  <input type="text" name="key" size="36" required=""></P> <BR>
        <input type="submit" value="PI SYSTEM UPDATE">
        </form>
       </CENTER>
	</body>

</body>
</html>
